@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 230 33% 10%;
    --foreground: 210 40% 98%;
    --card: 230 33% 12%;
    --card-foreground: 210 40% 98%;
    --popover: 230 33% 12%;
    --popover-foreground: 210 40% 98%;
    --primary: 42 43% 57%;
    --primary-foreground: 230 33% 12%;
    --secondary: 230 33% 20%;
    --secondary-foreground: 210 40% 98%;
    --muted: 230 33% 20%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 42 43% 57%;
    --accent-foreground: 230 33% 12%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 230 33% 20%;
    --input: 230 33% 20%;
    --ring: 42 43% 57%;
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    min-height: 100vh;
    overflow-x: hidden;
  }
}