body {
  background: linear-gradient(
    to bottom,
    transparent,
    hsl(230, 33%, 12%)
  ) fixed;
  overflow-x: hidden;
  position: relative;
}

/* Masquer uniquement les halos sur mobile tout en gardant le fond sombre */
@media (max-width: 768px) {
  .gold-halo,
  .purple-halo,
  .blue-halo {
    display: none;
  }
}